body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
}
form {
   margin: 10px 0;
   text-align: center;
}

.carousel {
   width: 100%;
   overflow: scroll;
   padding-left: 30px;
   position: relative;
   overflow-y: hidden;
   scrollbar-width: none;
   /* background: hsla(164, 38%, 18%, 1);
   background: linear-gradient(180deg, hsla(164, 38%, 18%, 1) 0%, hsla(158, 77%, 77%, 1) 100%);
   background: -moz-linear-gradient(180deg, hsla(164, 38%, 18%, 1) 0%, hsla(158, 77%, 77%, 1) 100%);
   background: -webkit-linear-gradient(180deg, hsla(164, 38%, 18%, 1) 0%, hsla(158, 77%, 77%, 1) 100%); */
}
.carousel::-webkit-scrollbar {
   scrollbar-width: none;
   display: none;
   background-color: rgba(0, 0, 0, 0.1);
   height: 10px;
   width: 100%;
}::-webkit-scrollbar-thumb {
   background-color: #8f57fd;
   border-radius: 25px;
}
.carousel__container {
   white-space: nowrap;
   margin: 70px 0;
   padding-bottom: 10px;
}

.carousel__container:hover .carousel-item {
   opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
   transform: scale(1.5);
   opacity: 1;
}